#example snippets for NFTables

'.source.nft':
  'redefine table':
    'prefix': 'ftable'
    'body': """
    flush table $1
    table ${2:ip} $1{
        $0
    }
    """
  'Table Block':
    'prefix': 'table'
    'body': """
    table ${2:ip} $1{
        $0
    }
    """
  'define set':
    'prefix': 'set'
    'body': """
    set $1{
        type ${2:ipv4_addr};
        elements = {
            $0
        }
    }
    """
  'Define Chain':
    'prefix': 'chain'
    'body': """
    chain $1{
        type ${2:filter} hook ${3:input} priority ${4:0}
        policy ${5:drop}
        $0
    }
    """
