'scopeName': 'source.nft'
'name': 'NFTables'
'fileTypes': ['nft']
'firstLineMatch': '^#!.*nft'
'foldingStartMarker': '\\{\\s*$'
'foldingStopMarker': '^\\s*\\}'

'patterns': [
    { 'include': '#common_block' }
    { 'include': '#stmt_separator' }
    { 'include': '#base_cmd' }
]

'repository':
    'base_cmd':
        'patterns': [
          {
            'begin': '(add)?'
	    'beginCaptures':
          }
        ]
    'stmt_expr':
        'patterns': [
            { 'include': '#map_stmt_expr' }
            { 'include': '#multiton_rhs_expr' }
            { 'include': '#primary_rhs_expr' }
        ]
    'rhs_expr':
        'patterns': [
            { 'include': '#concat_rhs_expr' }
            { 'include': '#multiton_rhs_expr' }
            { 'include': '#set_expr' }
        ]
    'map_stmt_expr':
        'patterns': [
          {
            'begin': '(.*)\\s+(map)\\s+'
            'beginCaptures':
                '1':
                    'patterns': [
                        { 'include': '#primary_expr' }
                        {
                            'match': '\\.'
                            'name': 'delimiter.dot.map.nft'
                        }
                    ]
                '2': 'storage.type.map.nft'
            'end': '(?=}|;|(?!\\\\)$)'
          }
        ]
    'multiton_rhs_expr':
        'patterns': [
          { 'include': '#prefix_rhs_expr' }
          { 'include': '#range_rhs_expr' }
          {
            'match': '\\*'
            'name': 'invalid.star.nft'
          }
        ]
    'prefix_rhs_expr':
        'patterns': [
          {
            'begin': ''
            'patterns': [{ 'include': '#basic_rhs_expr' }]
            'end': '(/)(\\d+)'
          }
        ]
    'basic_rhs_expr':
        'patterns': [
          {
            'match': '\\||^|&|<<|>>|'
            'name': 'keyword.operator.logic.nft'
          }
          { 'include': '#primary_rhs_expr' }
        ]
    'range_rhs_expr':
        'patterns': [
          {
            'match': '(.*)(-)(.*)'
            'captures':
                '1':
                    'patterns': [{ 'include': '#basic_rhs_expr' }]
                '2':
                    'name': 'delimiter.hyphen.range.nft'
                '3':
                    'patterns': [{ 'include': '#basic_rhs_expr' }]
          }
        ]
    'concat_rhs_expr':
        'patterns': [
          {
            'match': '\\.'
            'name': 'delimiter.concat.dot.nft'
          }
        ]
    'primary_rhs_expr':
        'patterns': [
          {
            'match': 'ether|vlan'
            'name': ''
          }
          {
            'match': 'ip6?|icmp(v6)?|arp|comp'
            'name': ''
          }
          {
            'match': 'tcp|udp|udplite|esp|ah|dccp|sctp'
            'name': ''
          }
          {
            'match': 'redirect|(s|d)nat|ecn'
            'name': ''
          }
          { 'include': '#symbol_expr'}
        ]
    'symbol_expr':
        'patterns': [
          {
            'match': '(@)([a-zA-Z_.][a-zA-Z0-9/\-_\.]*)'
            'name': 'meta.symbol_expr.nft'
            'captures':
                '1':
                    'name': 'storage.modifier.atsymbol.nft'
                '2':
                    'name': 'variable.other.nft'
          }
          { 'include': '#string' }
          { 'include': '#variable_expr'}
        ]
    'variable_expr':
        'patterns': [
          {
            'match': '(\\$)([-_\\w]+)'
            'captures':
                '1':
                    'name': 'storage.modifier.dollarsymbol.nft'
                '2':
                    'name': 'variable.other.nft'
          }
        ]
    'string':
        'patterns': [
          {
            'match': '"[^"]"'
            'name': 'string.quoted.double'
          }
          {
            'match': '[a-zA-Z_.][a-zA-Z0-9/\-_\.]*'
            'name': 'string.unquoted.nft'
          }
          {
            'match': '[a-zA-Z_.][a-zA-Z0-9/\-_\.]*(\\*|\\\\*)'
            'name': 'string.other.nft'
          }
        ]
    'set_expr':
        'patterns': [
            {
                'begin': '\\{'
                'end': '\\}'
                'name': 'entity.set.anon.nft'
                'captures':
                    '0':
                        'name': 'delimiter.bracket.set.nft'
                'patterns': [
                    {
                        'match': ','
                        'name': 'delimiter.comma.set.nft'
                    }
                    { 'include': '#set_list_member_expr' }
                ]
            }
        ]
    'set_list_member_expr':
        'patterns': [
          {
            'match': '(.*)(:)(.*)'
            'captures':
                '1':
                    'patterns': [{ 'include': '#set_elem_expr' }]
                '2':
                    'name': 'delimiter.colon.set.nft'
                '3':
                    'patterns': [{ 'include': '#set_rhs_expr' }]
          }
          { 'include': '#set_expr' }
          { 'include': '#set_elem_expr' }
        ]
    'set_rhs_expr':
        'patterns': [
          { 'include': '#concat_rhs_expr' }
          { 'include': '#verdict_expr' }
        ]
    'set_elem_expr':
        'patterns': [
          { 'include': '#concat_rhs_expr' }
          { 'include': '#multiton_rhs_expr' }
          { 'include': '#set_elem_option' }
        ]
    'set_elem_option':
        'patterns': [
          {
            'match': '\\b(timeout)([a-zA-Z_.][a-zA-Z0-9/\-_\.]*)'
            'captures':
                '1':
                    'name': 'support.function.timeout.nft'
                '2':
                    'name': 'string.unquoted.timeout.nft'
          }
          { 'include': '#comments' }
        ]

# Useful references for leaves and regexps:
# newline delimiter:
# 'end': '(?=}|;|(?!\\\\)$)'
# "string":
# '[a-zA-Z_.][a-zA-Z0-9/\-_\.]*'
